<footer>
    <nav>
        <a href='https://kjy042386.tistory.com/' target='_blank'>Blog</a> |
        <a href='https://github.com/JadeKim042386' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : <a href="https://developers.kakao.com">https://developers.kakao.com</a></span><br>
        <span>Source Code : <a href="https://github.com/JadeKim042386/PharmacyService">https://github.com/JadeKim042386/PharmacyService</a></span><br>
        <span>Copyright 2023. JuYoung-Kim. All Rights Reserved.</span>
    </p>
</footer>
